<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <h1>Home</h1>
    <hr>
    <p>Welcome to the home page!</p>
    <hr>
    <p>
        User : <span sec:authentication="principal.username"></span>
    </p>

    <p>
        Roles : <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>

    <p  sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Managers peeps)
    </p>

    <p  sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/systems}">Systems Meeting</a>
        (Only for Admin peeps)
    </p>



    <!-- logout -->
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
</body>

</html>